<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762974238886-mc073k7m3aj4bfbbvihbm0291f9koakg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762974238886-mc073k7m3aj4bfbbvihbm0291f9koakg</string>
	<key>API_KEY</key>
	<string>AIzaSyCwbwFC1esSEDBAAdvnEcgCynnKoyOKlWE</string>
	<key>GCM_SENDER_ID</key>
	<string>762974238886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TemplateProject</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-ce188</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-ce188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762974238886:ios:848e76f8cd5acffcd3dc67</string>
	<key>DATABASE_URL</key>
	<string>https://push-notifications-ce188-default-rtdb.firebaseio.com</string>
</dict>
</plist>